* {
    color: rgba(255, 255, 255, 0.85);
    font: caption;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

body {
    overflow: hidden;
}

ul {
    list-style-type: none;
}

.top {
    background-color: #282828;
    height: 50px;
    margin-left: 200px;
    width: 100%;
}

.tab {
    background-color: #313131;
    float: left;
    height: 100%;
    width: 50px;
}

.left {
    background-color: #282828;
    float: left;
    height: 100%;
    width: 200px;
}

.main {
    background-color: #1b1b1b;
    height: 100%;
    margin-left: 200px;
}

.tint {
    background-color: #e9ecef;
}