* {
    color: rgba(255, 255, 255, 0.87);
}

body, html {
    background-color: #1b1b1b;
}

button {
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

li:hover {
    background-color: rgba(255, 255, 255, 0.04);
}

tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.04);
}

.main {
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.selected {
    background-color: rgba(255, 255, 255, 0.9);
}

::-webkit-scrollbar {
    background-color: #1b1b1b;
}

::-webkit-scrollbar-corner {
    background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.4);
}
