* {
    color: WindowText;
    font: caption;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: inherit;
}

body, html {
    background-color: Window;
    height: 100%;
    width: 100%;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

table {
    border-collapse: collapse;
    min-width: 100%;
}

td, th {
    max-width: 200px;
    overflow: hidden;
    padding: 6px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    color: #2196F3;
    font-weight: bold;
}

tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.04);
}

ul {
    list-style-type: none;
}

.bar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.bar > * {
    flex: 1;
    min-width: 0;
    padding: 6px;
}

.bar button {
    background-color: Menu;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    min-height: 24px;
    padding: 0 6px;
    text-decoration: none;
}

.bar-left {
    text-align: left;
}

.bar-center {
    text-align: center;
}

.bar-right {
    text-align: right;
}

.main {
    background-color: white;
    height: calc(100% - 38px - 1px);
    margin-left: 200px;
    overflow: auto;
}

.menubar {
    -webkit-app-region: drag;
    background-color: rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 38px;
}

.selected {
    background-color: rgba(0, 0, 0, 0.9);
}

.sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
    height: calc(100% - 38px - 1px);
    overflow-y: auto;
    width: 200px;
}

.sidebar-icon {
    height: 1em;
    width: 1em;
}

.sidebar-item {
    padding: 6px;
    white-space: nowrap;
}

.truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

::-webkit-scrollbar {
    background-color: Window;
    height: 14px;
    width: 14px;
}

::-webkit-scrollbar-corner {
    background-color: Window;
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.4);
}
