* {
    color: rgba(255, 255, 255, 0.87);
}

body, html {
    background-color: #212121;
}

input {
    background-color: rgba(255, 255, 255, 0.1);
}

input[type=button]:active {
    background-color: rgba(255, 255, 255, 0.2);
}

li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.04);
}

.main {
    background-color: rgba(255, 255, 255, 0.04);
}

.selected {
    background-color: rgba(255, 255, 255, 0.9);
}

::-webkit-scrollbar {
    background-color: #212121;
}

::-webkit-scrollbar-corner {
    background-color: #212121;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.4);
}
