* {
    color: rgba(255, 255, 255, 0.87);
    font: caption;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: inherit;
}

body, html {
    background-color: #1B1B1B;
    height: 100%;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

table {
    border-collapse: collapse;
    min-width: 100%;
}

td, th {
    max-width: 400px;
    overflow: hidden;
    padding: 10px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    font-weight: bold;
    background: #F44336;
}

tr:nth-of-type(even) {
    background: rgba(255, 255, 255, 0.03);
}

ul {
    list-style-type: none;
}

.main {
    height: calc(100% - 42px);
    margin-left: 200px;
    overflow: auto;
}

.menu {
    -webkit-app-region: drag;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    height: 38px;
    justify-content: center;
    width: 100%;
}

.menu > p {
    max-width: 100%;
    overflow: hidden;
    padding: 0 80px;
    text-overflow: ellipsis;
}

.selected {
    background-color: rgba(255, 255, 255, 0.08);
}

.sidebar {
    background-color: rgba(255, 255, 255, 0.06);
    float: left;
    height: calc(100% - 38px);
    overflow-y: auto;
    width: 200px;
}

.sidebar-item {
    padding: 10px;
}

::-webkit-scrollbar {
    background-color: transparent;
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.61);
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
