@import url('sourcecodepro/source-code-pro.css');

* {
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    text-decoration: inherit;
}

#app {
    background-color: Window;
    color: WindowText;
}

body, html, #app {
    height: 100%;
    font: caption;
    user-select: none;
    -webkit-user-select: none;
    width: 100%;
}

hr {
    border-bottom: none;
    border-top: 1px solid #777;
}

img {
    -webkit-user-drag: none;
}

input {
    -webkit-app-region: no-drag;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    min-height: 24px;
    padding: 0 6px;
    text-decoration: none;
}

input[type=button]:active {
    background-color: rgba(0, 0, 0, 0.1);
}

input[type=button]:disabled {
    filter: opacity(0.5);
}

input:focus {
    outline:0;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

table {
    border-spacing: 0;
    font-family: 'Source Code Pro';
}

table input[type=text] {
    background-color: transparent;
    border: none;
    border-radius: 0;
    min-height: initial;
    padding: 0;
    width: 100%;
}

td, th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    max-width: 400px;
    overflow: hidden;
    padding: 6px 8px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    background-color: white;
    box-sizing: border-box;
    color: #2196F3;
    font-weight: bold;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
}

ul {
    list-style-type: none;
}

.bar-left {
    float: left;
    padding: 8px;
}

.bar-right {
    float: right;
    padding: 8px;
}

.center {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.center > * {
    flex: 1;
    text-align: center;
}

.clear {
    clear: both;
}

.dashboard {
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    height: calc(100% - 22px - 38px - 1px);
    margin-left: 200px;
    overflow: auto;
}

.error-message {
    margin: 8px;
}

.null-cell {
    filter: opacity(0.4);
}

.titlebar {
    -webkit-app-region: drag;
    height: 22px;
}

.navbar {
    -webkit-app-region: drag;
    height: 37px;
    width: calc(100%);
}

.navbar .bar-left, .navbar .bar-right {
    padding: 4px 8px;
}

.sidebar {
    float: left;
    height: calc(100% - 22px - 38px);
    overflow-y: auto;
    width: 200px;
}

.sidebar-icon {
    height: 1em;
    width: 1em;
}

.sidebar-item {
    padding: 6px 8px;
    white-space: nowrap;
}

.sidebar-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.vertical-full {
    height: 100%;
    overflow: auto;
}

.vertical-half {
    height: 50%;
    overflow: auto;
}

::-webkit-scrollbar {
    background-color: Window;
    height: 14px;
    width: 14px;
}

::-webkit-scrollbar-corner {
    background-color: Window;
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.4);
}