.dark#app {
    background-color: #292929;
    color: rgba(255, 255, 255, 0.87);
}

.dark input {
    background-color: rgba(255, 255, 255, 0.1);
}

.dark input[type=button]:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.dark table input[type=text] {
    background-color: transparent;
}

.dark td, .dark th {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.dark th {
    background-color: #1C1C1C;
}

.dark .dashboard {
    background-color: #1C1C1C;
}

.dark .sidebar-selected {
    background-color: rgba(255, 255, 255, 0.1);
}

.dark ::-webkit-scrollbar {
    background-color: #282828;
}

.dark ::-webkit-scrollbar-corner {
    background-color: #282828;
}

.dark ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
}

.dark ::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.4);
}